<!DOCTYPE html>
<html ng-app="Eggly">
  <head>
    <meta charset="utf-8">
    <title>Eggly</title>
    <link rel="stylesheet" href="/index.css" media="screen" title="no title">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="/app/eggly-app.start.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <aside class="side">
      <ul>
        <li ng-repeat="category in categories" ng-class="{'active': isCurrentCategory(category)}">
          <a href="#" ng-click="setCurrentCategory(category)">{{category.name}}</a>
        </li>
      </ul>
    </aside>
    <div class="main">
      <ul>
        <li ng-repeat="bookmark in bookmarks | filter: {category: currentCategory.name}">
          <a href={{bookmark.url}}>{{bookmark.title}}</a>
          <button type="button" name="button">Delete</button>
        </li>
      </ul>
      <hr/>
      <button ng-click="startCreating()" ng-if="currentCategory" type="button" name="button">Create new bookmark</button>
      <form ng-submit="createNewBookmark(newBookmark)" ng-if="isCreating">
        <h2>Create a bookmark</h2>
        <input placeholder="title" type="text" name="title" ng-model="newBookmark.title" />
        <input placeholder="url" type="text" name="url" ng-model="newBookmark.url" />
        <button type="submit" name="button">Create</button>
        <button ng-click="cancelCreating()" type="submit" name="button">Cancel</button>
      </form>
    </div>
  </body>
</html>
